:root {
  --header-height: 5rem;
}

.header {
    box-sizing: border-box;
    display: flex;
    grid-area: header;
    gap: 16px;
    align-items: center;
    height: var(--header-height);
    padding: 16px;
    background-color: var(--color-gray-dark-40);
    box-shadow: 1px 0 10px var(--color-gray-dark);
}

.link {
  font-size: 20px;
  text-decoration: none;
}
