:root {
  --footer-height: 5rem;
}

.footer {
    box-sizing: border-box;
    display: flex;
    grid-area: footer;
    align-items: center;
    justify-content: space-between;
    height: var(--footer-height);
    padding: 16px;
    background-color: var(--color-gray-dark-40);
    box-shadow: 0 0 10px var(--color-gray-dark);
}
